{% extends "page_template.html" %}

{% import 'macros/youtube.html' as youtube %}
{% import 'macros/analytics.html' as analytics %}
{% import 'macros/mailing_lists.html' as mailing_lists %}

{% block pagecss %}
<style>
	#page_sub_nav { display: none; }
	td { vertical-align: top; }
	.ui-tooltip, .qtip { max-width: 200px; }
</style>
{% endblock pagecss %}

{% block pagetitle %}{% endblock pagetitle %}
{% block pagecontent %}
<article id="homepage">
    <br />
    <br />
    <br />
    <a href="/wiskunde/e/pythagoras" style="font-size: 50px; text-align: center; width: 50%;">Oefen Pythagoras</a>
    <br />
    <br />
    <br />

</article>

<div id="back-to-top">
    <a class="arrow" href="#">▲</a>
    <a class="text" href="#">Back to Top</a>
</div>
{% endblock pagecontent %}

{% block bottompagescript %}
    {% if not is_mobile %}
        {{ js_css_packages.js_package("homepage") }}
    {% endif %}

    <script type="text/javascript">
        $(function(){
            VideoStats.startLoggingProgress("{{ marquee_video["key"]|escapejs }}");

            if (typeof(Homepage) !== "undefined") {
                Homepage.initPlaceholder("{{ marquee_video["youtube_id"]|escapejs }}");
            }
        });

        (function(){
            var twitterWidgets = document.createElement('script');
            twitterWidgets.type = 'text/javascript';
            twitterWidgets.async = true;
            twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
            // Setup a callback to track once the script loads.
            twitterWidgets.onload = _ga.trackTwitter;
            document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
        })();

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
        _ga.trackFacebook();
    </script>

    {{ analytics.crazyegg_tracker(False) }}

    {%- if link_heat -%}
    <script type="text/javascript" src="/javascript/random/linkheat.js?{{App.version}}"></script>
    {%- endif -%}
{% endblock bottompagescript %}
